@model MainOps.Models.InformationEntry

@{
    ViewData["Title"] = "Edit";
}

<h4>Chat info</h4>
<hr />
<div class="row">
    <div class="col-xs-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <textarea asp-for="Text" cols="80" rows="8" style="width:100%;"></textarea>
                <input asp-for="DivisionId" value="1" hidden="hidden" />
                <input asp-for="DateEntered" value="@DateTime.Now" hidden="hidden" />
                <input asp-for="DoneBy" value="" hidden="hidden" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn-hoelscher">@SharedLocalizer.GetLocalizedHtmlString("Save")</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

