
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("About US");
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("About Us")</h2>

Til trods for, at vi i Hölscher Jensen a/s er en nystartet virksomhed, så har vi mange års erfaring i henholdsvis Hölscher Wasserbau GmbH og CG Jensen A/S. Virksomheden Hölscher blev grundlagt i 1959 af Heinrich Hölscher, der ledede virksomheden sammen med sin søn Heinz Hölscher. Vi startede som leverandør af ydelser på landbrugsområdet, men begyndte hurtigt at udvikle og løbende udvide vores sortiment.
<br />
<br />
Navnet Hölscher Wasserbau har helt fra starten været synonymt med vedvarende vækst og alsidighed. Grundvandshåndtering er et af de områder, hvor vi i starten af 70'erne begyndte at udvide og udvikle vores ekspertise. I de efterfølgende år blev virksomheden ved med at bevæge sig fremad på dette område, især inden for afvanding af byggepladser.
<br />
<br />
Derudover begyndte vi at fokusere på miljøteknik og brøndboring. Efter Heinz Hölschers alt for tidlige død overtog Dr.-Ing. Michael Knöfel tøjlerne for virksomheden fra 1990 til 2007. Med Michael Knöfel ved styrepinden har Hölscher Wasserbau haft stor succes med at indsamle ekspertise og ressourcer, f.eks. ved at oprette et regionalt salgsnetværk, og oprette nye afdelinger og datterselskaber.
<br />
<br />
De nuværende administrerende direktører, Maria Borgmann og Heinz Hölscher, der er søskende i tredje generation af familien, har siden 2004 fortsat med at lede virksomheden efter denne kurs, samtidig med at man har fokuseret på nutidens krav. Teknisk ekspertise, innovation og fleksibilitet gør os til en stærk serviceleverandør og danner grundlag for vores succes på markedet - og har gjort det i mere end 50 år.
<br />
<br />
CG Jensen A/S er et dansk selskab med rødder tilbage til 1930’erne. Vi tilbyder de fleste typer anlægsopgaver. Det gælder funderings- og rammearbejde, vandbygning, betonarbejde, jord- og kloakarbejde, forsyningsledninger samt job ved bane og vej.
<br />
<br />
CG Jensen udfører havneanlæg bogstaveligt talt fra Gedser til Skagen. Vi rammer spuns og pæle og udfører efterfunderinger i hele Danmark. Vi flytter jord, også når det er forurenet. Vi sørger selvfølgelig for korrekt håndtering af den forurenede jord. Skal eksisterende kloaksystemer udbygges eller skal der etableres nye regnvandsbassiner er det også en opgave for os.
<br />
<br />
CG Jensen bygger råhuse i betonelementer, og løser små og store betonopgaver, fra faunapassager til parkeringskældre. Vi renoverer enhver form for betonkonstruktioner indenfor anlæg og byggeri, f.eks. betonbroer og parkeringshuse. Vi har stor erfaring med stålmontage. Vores erfarne medarbejdere har stået for mange spektakulære montageopgaver, fra helikopterplatform i København til ståltårn med udsigtsplatform i Oslo.
<br />
<br />
Vi udfører nybyggeri i hoved- og totalentrepriser indenfor alment og privat boligbyggeri, erhvervsbyggeri og institutionsbyggeri såsom plejeboliger, skoler, børnehaver, idrætsfaciliteter og sundhedscentre. CG Jensen har et bredt felt af gode samarbejdspartnere af arkitektfirmaer og rådgivende ingeniørfirmaer. Til udførelsen af byggerierne har vi stor gavn af vores egenproduktion.
<br />
<br />
Det er altså to stærke og stolte familietraditioner, der nu indleder et samarbejde og starter en fælles historie. For grundvand - det kan vi.
<br />
<br />
<form asp-action="Index" asp-controller="Home"><button class="btn-hoelscher">@SharedLocalizer.GetLocalizedHtmlString("Back To Main Page")</button></form>