@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("Forgot password confirmation");
}

<h2>@ViewData["Title"]</h2>
<p>
    @SharedLocalizer.GetLocalizedHtmlString("We have sent an Email to your Email-address. Please check your Email and follow the instructions to reset your password.")
</p>
