
@{
    ViewData["Title"] = "ConvertLatLongToUTM";
}

<h2>Convert Lat/Long To UTM</h2>

<form asp-action="ConvertLatLongToUTM" enctype="multipart/form-data" method="post">
    <input name="postedFile" type="file" />
    <button>submit</button>
</form>
