@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Upload Surveyor Coords");
}

<h2>
    Upload coordinates of wellpoints
</h2>

<form asp-action="UploadSurveyorCoords" asp-controller="TrackItems" method="post" enctype="multipart/form-data">
    <input type="file" accept=".csv" name="postedFile" />
    <button class="btn-hoelscher">@SharedLocalizer.GetLocalizedHtmlString("Upload")</button>
</form>
