@model MainOps.Models.ViewModels.PumpTestDataUploadVM
@{
    ViewData["Title"] = "UploadPumpTestData";
}

@using (Html.BeginForm("UploadPumpTestData", "TrackItems", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table style="width:100%;">
        <tr>
            <td><b>@Html.DisplayNameFor(x => x.ThreeStepTestId)</b></td>
            <td>
                <input asp-for="ThreeStepTestId" id="ThreeStepTestId" style="width:100%;height:40px;">
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="file" id="postedFile" name="postedFile" class="form-control" accept=".csv" /></td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn-hoelscher">@SharedLocalizer.GetLocalizedHtmlString("Upload")</button>
            </td>
        </tr>
    </table>
}

