
@{
    ViewData["Title"] = "Upload Subproject documents";
}

<form asp-action="UploadSubProjectDocuments" asp-controller="TrackItems" enctype="multipart/form-data" method="post">
    <table>       
        <tr>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Choose file")</td>
            <td><input type="file" id="files" name="files" multiple class="form-control" accept=".pdf" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" title="Upload" value="Upload" class="btn-hoelscher" />
            </td>
        </tr>
    </table>
</form>