@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject LocService SharedLocalizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <table style="width:100%;">
                <tr>
                    <td>
                        <form asp-area="" asp-controller="Manage" asp-action="Index" method="get" title="Manage">
                            <button class="btn-hoelscher">@SharedLocalizer.GetLocalizedHtmlString("Hello") @((await UserManager.GetUserAsync(User)).full_name())</button>
                        </form>
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                            <button type="submit" class="btn-hoelscher ">@SharedLocalizer.GetLocalizedHtmlString("Log out")</button>
                        </form>
                    </td>
                </tr>
        </table>
    </div>
}
else
{
    <div class="text-center">
        <table>
            <tr>
                
                <td><form asp-action="Login" asp-controller="Account" method="get"><button class="btn-hoelscher" type="submit">@SharedLocalizer.GetLocalizedHtmlString("Log in")</button></form></td>
            </tr>
        </table>
    </div>
}